body{
    font-family: 'Bungee Spice', sans-serif;
    font-family: 'Homemade Apple', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Tektur', sans-serif;
    margin: 50px;
    background: linear-gradient(to left, cadetblue, antiquewhite);
    display: flex;
    justify-content: center;
}

.container{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

h2 {
    justify-content: center;
}

label {
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
}

button {
    font-family: 'Bungee Spice', sans-serif;
    font-family: 'Homemade Apple', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Tektur', sans-serif;
    background-color: cadetblue;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    margin-left: 160px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80px;
}

button:hover {
    background-color: black;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: cadetblue;
}

@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
    }
    .container {
        width: 100%;
        box-shadow: none;
        margin-top: 20px;
    }
    form {
        max-width: 100%;
    }
    button {
        margin-left: 60px;
    }
}
